In [4]:
import pandas as pd
df=pd.read_csv("C:/Users/Francisco/OneDrive/Dokumen/Data.csv")

In [5]:
df

,nama lengkap,gender,angkatan,tinggi badan,waktu perjalanan / menit,wilayah tinggal
0,Dave,laki - laki,2023,165,30,Tangerang
1,Francisco,laki - laki,2023,170,30,rusunawa pesakih
2,Faiz Abyan Heryanto,laki - laki,2023,165,45,"Tanjung Priuk,"
3,Michael,laki - laki,2023,167,15,Jakarta Utara
4,partahi daniel tua limbong,laki - laki,2023,173,45,jakarta utara
5,hafidz ramadhan,laki - laki,2023,169,15,Grogol
6,Francisco,laki - laki,2023,170,30,daan mogort
7,Muhammad Rayyan Naufal,laki - laki,2023,171,50,Jakarta Timur
8,Yustianas Rombon,laki - laki,2023,173,30,Jakarta Utara
9,Zahwa Nur Azkia Putri,perempuan,2023,154,15,grogol
10,Dave F.M,laki - laki,2023,168,60,Tangerang
11,Calista Azzahra,perempuan,2023,160,150,Bekasi
12,Fairuz,perempuan,2023,156,45,Tanjung Priok
13,Gwen Alaina Marela,perempuan,2023,152,17,Gambir
14,Michael Briant,laki - laki,2023,167,10,Jl. Tawakal
15,ariel febrio,laki - laki,2023,170,35,kelapa gading
16,Rasyid Ridho Muhammad Noor Rafi,laki - laki,2023,170,45,Cengkareng
17,Monic,perempuan,2023,160,75,Jakarta Timur
18,Mara Sutan Arrafi Siregar,laki - laki,2023,170,90,Sunter Kelapa gading
19,Zulfadli Daniswara,laki - laki,2023,170,45,Kampung Makasar
20,Rangga Aditya Pradana,laki - laki,2023,185,90,Kota Bekasi
21,Mutiara Novianti Rambe,perempuan,2023,160,60,"Pejaten,Jakarta Selatan"
22,Faiz Firdaus Priyanto,laki - laki,2023,165,30,Jakarta
23,rafael gala herlambang,laki - laki,2023,175,15,gunung sahari
24,Noval Susanto,laki - laki,2023,177,60,Depok
25,Fadhil Ibrahim Wira Dharna,laki - laki,2023,169,60,Cipadu
26,Kevin Rizky Pradana,laki - laki,2023,173,60,Duren Sawit
27,Dewanto Maulana Sukaro Putra,laki - laki,2023,172,40,Tanjung Priok
28,Arik Dias Putra,laki - laki,2023,177,60,Tangerang
29,Muhammad Hakim,laki - laki,2023,170,10,Tamansari
30,Andrew Hendrian Nathanael,laki - laki,2023,172,13,tomang
31,NUZURUL HAQI FADILLAH,laki - laki,2023,171,60,Tangerang
32,Muhamad fadly febrian,laki - laki,2023,174,75,Depok

In [6]:
df.describe()

       angkatan  tinggi badan  waktu perjalanan / menit
count      33.0     33.000000                 33.000000
mean     2023.0    168.484848                 45.757576
std         0.0      6.847085                 29.349223
min      2023.0    152.000000                 10.000000
25%      2023.0    165.000000                 30.000000
50%      2023.0    170.000000                 45.000000
75%      2023.0    172.000000                 60.000000
max      2023.0    185.000000                150.000000